/******* escritorio GALERIA *******/
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css");
.row {
  margin-bottom: 30px;
  display: flex;
  padding: 5px;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  justify-content: flex-start; }

.column {
  width: 300px;
  height: 200px;
  margin-bottom: 30px;
  object-fit: cover; }

.column img {
  width: 300px;
  height: 200px;
  margin-bottom: 20px;
  object-fit: cover;
  filter: brightness(70%); }

.column img:hover {
  filter: brightness(100%); }

.card1 {
  display: flex;
  padding: 5px;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  justify-content: flex-start; }

@media only screen and (min-width: 992px) {
  .card {
    color: #044d57; }
  .row {
    background-color: #044d57; }
  .column {
    flex: 25%; } }

@media only screen and (max-width: 800px) {
  .column {
    flex: 50%; }
  .card {
    color: #044d57; }
  .row {
    background-color: #044d57; } }

@media only screen and (max-width: 600px) {
  .column {
    flex: 100%; } }

.card {
  color: #044d57; }

.row {
  background-color: #044d57; }

.navbar-expand {
  background-color: aqua; }

img {
  width: 100%;
  justify-content: flex-start;
  margin: auto;
  padding: auto;
  padding-top: 5px; }

.img1 {
  width: 100%;
  height: 20%;
  margin: auto;
  justify-content: center;
  justify-content: flex-start; }

* {
  margin: 0;
  padding: 0; }

.header-index {
  background-image: url(../img/logo6.jpg);
  object-fit: cover;
  height: 800px;
  flex-wrap: wrap; }

header {
  background-image: url(../img/thewitcher.jpeg);
  object-fit: cover;
  height: 400px; }

/****** mobile INDEX *******/
@media only screen and (max-width: 600px) {
  .header-index {
    height: 1200px; }
  .iconos {
    background-color: #044d57; } }

/******* escritorio INDEX *******/
/********* ICONOS *********/
.bi-facebook {
  font-size: 30px;
  color: gray;
  text-align: center; }

.bi-facebook:hover {
  color: blue; }

.bi-instagram {
  font-size: 30px;
  color: gray; }

.bi-instagram:hover {
  color: violet; }

.bi-youtube {
  font-size: 30px;
  color: gray; }

.bi-youtube:hover {
  color: red; }

.bi-twitter {
  font-size: 30px;
  color: gray; }

.bi-twitter:hover {
  color: turquoise; }

.iconos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; }

.copy {
  color: black;
  font-size: 20px; }

.sociales {
  height: 50px;
  background-color: black;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row; }

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box; }

#info {
  background: #131111;
  color: #fff;
  text-align: center;
  padding: 20px; }

#info.foto {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; }

.info-serie img {
  width: 180px;
  height: 180px;
  border-radius: 50%;
  border: 7px solid #fff; }

section {
  background-color: #044d57; }

.navbar-expand-lg {
  background-color: none; }

.container-fluid {
  background-color: none; }

div {
  width: 100%; }

/*******H1/H2*******/
h1 {
  color: gray;
  font-weight: 600px;
  font-size: 70px;
  font-family: "roboto" , sans-serif;
  text-align: center;
  text-decoration: underline;
  background-size: cover;
  background-position: center; }

h2 {
  color: black;
  font-style: italic;
  font-size: 50px;
  font-family: "supermercado one", cursive;
  text-align: center; }

/*******PARRAFOS*******/
p {
  color: black;
  font-size: 20px;
  line-height: 2;
  margin-top: 20px;
  padding: 6px; }

footer {
  background-color: #050505; }

/******EXTEND******/
.texto, .texto1 {
  color: aqua;
  text-align: center; }

.texto1 {
  color: aqua; }

/********MIXIN********/
.estilocard .card1 a {
  font-weight: 500;
  text-decoration: none;
  color: #3498db; }

.estilocard .card1 p {
  padding: 0 1rem;
  font-size: 5px;
  font-weight: 300; }

/******CARD******/
.fondomain {
  background-color: #044d57; }

.card-title {
  color: black; }

.iconos {
  background-color: #044d57; }

.card-body {
  background-color: #044d57; }

.navbar-nav {
  background-color: grey; }

.baner {
  padding: 0 30px;
  margin-top: 150px;
  text-align: center;
  color: #fff; }

.h1 {
  font-size: 2000px;
  margin-bottom: 30px;
  color: whitesmoke;
  text-decoration: none; }

.baner span {
  color: #fff;
  font-size: 30px; }

.h2 {
  font-size: 46px;
  font-weight: 600;
  color: red; }

.boton1 {
  text-decoration: none;
  margin-right: 40px;
  padding: 10px 30px;
  background-color: #f80808;
  color: #fff;
  border-radius: 5px; }

.boton1:hover {
  background-color: #fff;
  color: #f80808;
  transition: .5s; }

.boton2:hover {
  background-color: #f80808;
  color: #fff;
  transition: .5s; }

.boton2 {
  text-decoration: none;
  margin-right: 40px;
  padding: 10px 30px;
  background-color: #fff;
  color: #f80808;
  border-radius: 5px; }

.navbar-toggler-icon {
  background-color: #fff; }

@media (min-width: 920px) {
  .foto {
    width: 1000px; } }
